/* Header */

.header{
    width: 100vw;
    background-image: linear-gradient(90deg, rgba(4,99,133,0.5410539215686274) 0%, rgba(82,10,102,0.5942752100840336) 100%),url('../img/header.jpg');
    background-size: cover;
    box-shadow: inset 0px 175px 100px -100px var(--dark-color);
}

.header > .navBar{
    width: var(--contentWidth);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header > .navBar > .logo{
    height: 120px;
    width: 150px;
    background-image: url('../img/logo.png'); 
    background-size: cover;
}

.header > .headerContent{
    height: 175px;
    width: var(--contentWidth);
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
}
